
.introduction {
  scroll-snap-align: start;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photoContainer {
  height: calc(200px + 12px);
  border-radius: 20px;
  border: 6px solid black;
  margin-right: 50px;
  overflow: hidden;
}

.photo {
  margin: 0;
}

.title {
  color: gray;
  margin: 0;
  line-height: 1.15;
  font-size: 2.75rem;
  max-width: 345px;
}

.title .titleName {
  color: black;
  font-weight: 800;
  text-decoration: underline;
}

.section {
  scroll-snap-align: start;
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 250px;
}

.section h1 {
  color: gray;
  font-size: 2.75rem;
  text-align: center;
}

.careersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

.careerContainer {
  background-color: gainsboro;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  flex-grow: 1;
  padding: 20px;
}

.presentCareerContainer {
  background-color: skyblue;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  flex-grow: 1;
  padding: 20px;
}

.careerNameLabel {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 10px;
}

.careerTimeRangeLabel {
  margin-top: 5px;
}

.careerPositionLabel {
  margin-top: 10px;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

.skill {
  background-color: gainsboro;
  border-radius: 10px;
  font-size: 1.25rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  flex-grow: 1;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}



@media (max-width: 660px) {
  .introduction {
    flex-direction: column;
  }

  .photoContainer {
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .title {
    text-align: center;
  }
}