.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.5rem;
  max-width: 550px;
}

.photoContainer {
  min-width: 270px;
  border-radius: 135px;
  border: 7px solid black;
  margin-right: 50px;
  overflow: hidden;
}

@media (max-width: 935px) {
  .main {
    flex-direction: column;
  }

  .photoContainer {
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .title {
    text-align: center;
  }
}