
.introduction {
  scroll-snap-align: start;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photoContainer {
  height: calc(260px + 12px);
  border-radius: 50%;
  border: 6px solid black;
  margin-right: 50px;
  overflow: hidden;
}

.photo {
  margin: 0;
}

.title {
  color: gray;
  margin: 0;
  line-height: 1.15;
  font-size: 3.5rem;
  max-width: 435px;
}

.title .titleName {
  color: black;
  font-weight: 800;
  text-decoration: underline;
}

.anotherSection {
  scroll-snap-align: start;
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.anotherSection h1 {
  color: gray;
  font-size: 3.5rem;
  text-align: center;
}

@media (max-width: 935px) {
  .introduction {
    flex-direction: column;
  }

  .photoContainer {
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .title {
    text-align: center;
  }
}